<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm" data-bs-theme="grey">
  <div class="container-fluid align-items-center">
    <h1>Footy Addicts</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center"  id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Play</a>
        </li>    
      </ul>
      <div class="d-flex gap-2 mr-15px" role="buttons">
        <button class="btn-register" type="submit">Register</button>
        <button class="btn-sign" type="submit"><a routerLink="/login">Login</a></button>
      </div>
    </div>
  </div>
</nav>