<div class="container mt-5">
    <div class="card mx-auto shadow-lg" style="max-width: 400px;">
      <div class="card-header text-center">
        <h4>Login</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="loginEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="Enter your email" required>
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Enter your password" required>
          </div>
          <div class="mb-3">
            <label for="loginConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="loginConfirmPassword" placeholder="Confirm your password" required>
          </div>
          <button type="submit" class="btn btn-primary w-100"><a href="login.component.html">Login</a></button>
        </form>
      </div>
    </div>
  </div>
